@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
*{
  background-color: #fff;
}


/* FOOD IMAGE STYLE */
.food-image-style{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width:10em;
  height: 10em;
}

.food-style{
  
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: larger;

}


/* NUTRITION TABLE */
.food-serving-wrapper {
  display: flex;
  align-items: center;
}

.food-serving-wrapper input {
  max-width: 3em;
}

.nutrition-facts-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

.nutrition-facts-paper {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  border: 1px solid #f0f0f0;
  background: white;
  width: min-content;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.nutritionfacts table{
  width: 18.2em;
  padding: 0;

}
.nutritionfacts { 
  border:1px solid black; 
  padding:3px; 
  width:18.2em;  
}

.nutritionfacts td { 
  color:black; 
  font-family:'Arial Black','Helvetica Bold',sans-serif; 
  font-size:11pt; 
  padding:0; 
}
.nutritionfacts td.caption { 
  font-family:'Arial Black','Helvetica Bold',sans-serif; 
  font-size:28px; 
  white-space:nowrap; 
  text-align: center;
}        
.nutritionfacts div.label { 
  float:left; 
  font-family:'Arial Black','Helvetica Bold',sans-serif; 
}
.nutritionfacts div.serving { 
  font-family:Arial,Helvetica,sans-serif; 
  font-size:11pt; 
  text-align:center; 
}
.nutritionfacts .amount-serving { 
  font-family:Arial,Helvetica,sans-serif; 
  font-size:8.2pt; 
  font-weight:900;
}
.nutritionfacts div.weight { 
  display:inline; 
  font-family:Arial,Helvetica,sans-serif; 
  padding-left:1px; 
}
.nutritionfacts div.dv { 
  display:inline; 
  float:right; 
  font-family:'Arial Black','Helvetica Bold',sans-serif; 
}
.nutritionfacts table.vitamins td {  
  font-family:Arial,Helvetica,sans-serif; 
  white-space:nowrap; 
  width:33%; 
}
.nutritionfacts div.line { 
  border-top:1px solid black; 
}
.nutritionfacts .labellight { 

  font-family:Arial,Helvetica,sans-serif; 
  font-weight: normal;
}
.nutritionfacts span.labellight { 

  font-family: Arial,Helvetica,sans-serif; 
  font-size: 1.5em;
}
.nutritionfacts .highlighted {
  border:1px dotted grey;
  padding:2px;
}
.nutritionfacts .dvlabel {
  text-align: right;
}
.nutritionfacts .center {
  text-align: center;
}
.nutritionfacts .calorie-from-fat{
  padding-top: 1px; 
  float: right;
}

/* END OF NUTRITION TABLE */

